<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Trip to Asia!
  </h1>
</div>
<table>
  <thead>
  <tr>
      <th>Date</th>
      <th>Local Time</th>
      <th>Seattle</th>
      <th>China</th>
      <th>South Korea</th>
      <th>Japan</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rangeItem of range">
      <td my-td [dateCell]="rangeItem.date" [ngClass]="rangeItem.date.className"></td>
      <td my-td [dateCell]="rangeItem.local" [ngClass]="rangeItem.local.className"></td>
      <td my-td [dateCell]="rangeItem.seattle" [ngClass]="rangeItem.seattle.className"></td>
      <td my-td [dateCell]="rangeItem.china" [ngClass]="rangeItem.china.className"></td>
      <td my-td [dateCell]="rangeItem.korea" [ngClass]="rangeItem.korea.className"></td>
      <td my-td [dateCell]="rangeItem.japan" [ngClass]="rangeItem.japan.className"></td>
  </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
