<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Trip to Asia!
  </h1>
</div>
<table>
  <tr>
      <th>Local Time</th>
      <th>Seattle</th>
      <th>Japan</th>
      <th>South Korea</th>
      <th>China</th>
  </tr>
  <tr *ngFor="let rangeItem of range">
      <td>{{rangeItem.local}}</td>
      <td>{{rangeItem.seattle}}</td>
      <td>{{rangeItem.japan}}</td>
      <td>{{rangeItem.korea}}</td>
      <td>{{rangeItem.china}}</td>
  </tr>
</table>

<router-outlet></router-outlet>
